@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Pacifico&display=swap');

/* Assuming .home-container is the top-level class in your Home component */
.home-container {
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 100vh;
  /* Take up full viewport height */
  scroll-behavior: smooth;
  text-align: center;
  /* Center content */
}


.home-container .title {
  font-size: 6rem;
  font-weight: 300;
  margin: 0;
}

.home-container .slogan {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 30px;
  margin-top: 1rem;
}

.home-container .start-for-free-center {
  display: inline-block;
  padding: 1rem;
  font-size: 15px;
  text-decoration: none;
  background-color: #212ea1;
  color: white;
  border-radius: 15px;
  font-weight: bold;
  margin-top: 2rem;
}

.home-container .start-for-free-center:hover {
  background-color: #285388;
}

/* Media queries for responsiveness */
@media (max-width: 1024px) {
  .home-container .title {
    font-size: 5rem;
  }

  .home-container .slogan {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .home-container .title {
    font-size: 4rem;
  }
}

@media (max-width: 480px) {
  .home-container .title {
    font-size: 3rem;
  }
}
