.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .register-form {
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 2rem;
    box-shadow: none;
  }
  
  .register-form input[type="text"],
  .register-form input[type="password"],
  .register-form input[type="email"] {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 25px;
    outline: none;
    margin-bottom: 1rem;
  }
  
  .register-form button {
    padding: 1rem;
    background-color: #1C406D;
    color: #fff;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .register-form button:hover {
    background-color: #285388;
  }
  
  .login-text {
    text-align: center;
    margin-top: 1rem;
  }
  
  .login-text a {
    text-decoration: none;
    color: #1C406D;
  }
  
  .login-text a:hover {
    text-decoration: underline;
  }

  .error {
    background-color: rgba(255, 0, 0, 0.582); /* Transparent red background */
    border: red solid 2px;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
  }
  
